*{
  margin: 0;
  /* box-sizing: b  order-box; */
  font-family: 'B roya', Helvetica, sans-serif;
}

body {
  margin: auto;
  background: #242424;
  width: 100%;
  height: 100%;
}

#root{
  max-width: 1360px;
  margin: auto;
}
#app-index{
  margin-top: 65px;
}
